.main-homeLeaderboard {
    width: 100%;
    height: 452px;
    padding: 10px;
    position: relative;
}

.homeLeaderboard {
    border: 2px solid red;
    width: 100%;
    left: 0;
    position: absolute;
    height: 397px;
}