.main-notificationData {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.more-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color:rgb(253, 161, 40)
}