*{
  /* display: flex; */
  /* flex-direction: column; */
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.app-main{
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.app-content-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content:center;
}

.app-content{
  display: flex;
  /* margin-top: 72px; */
  flex-direction: column;
  justify-content: center;
}

nav{
  display: flex;
  height: 54px;
  width: 100%;
  /* margin-bottom: 72px; */
  bottom: 0px;
  padding: 4px;
  position:fixed;

  /* justify-content:space-around; */
  align-items: center;
  /* text-align: center; */

  color: wheat;
  border-radius: 20px 20px 0px 0px;
  background-color:#E9714F;
}
.nav-items{
  display: flex;
  flex: 1;
  margin: 10px;

  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  /* background-color:teal; */
}
.nav-items img{
  width: 20px;
  color: #E7D0D0;
  margin: 2px;
}

.on{
  color: white;
}

.app-overlay-button{
  z-index: 20;
  position: fixed;
  right: 0;
  bottom: 52px;
  
  width: 52px;
  height: 52px;
  
  margin: 16px;
  background-color: #E9714F;
  border-radius: 50%;
  border: 1px solid white;


  color: white;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app-overlay-button:hover{
  background-color: #be6850;
}

button{
  display: flex;
  margin: 12px;
  padding: 8px;

  background-color: violet;
}
