*{
    /* display: flex; */
    /* flex-direction: column; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Thai', sans-serif;
}
  
.icon-box{
    display: flex;
  
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #E9714F;
    border-radius: 4px;
}

.icon-box img{
    height: 16px;
    width: 16px;
}